jsonpickle
git+https://github.com/botswana-harvard/edc-base@develop#egg=edc_base
git+https://github.com/samKenpachi011/django-crypto-fields.git@upgrade
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-constants.git@70b03cc3c135f242de543123b3c7c9dfce284e67
git+https://github.com/botswana-harvard/edc-protocol.git@0.1.5#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-device.git@867751966a4449ffd17719aad11bba6be2a52800
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-model-admin@develop#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-registration@develop#egg=edc_registration
git+https://github.com/botswana-harvard/edc-locator@develop#egg=edc_locator
