{% extends 'edc_base/base.html' %}

{% load staticfiles %}

{% block extra-scripts %}
{{ block.super }}
<script type="text/javascript" charset="utf8" src="{% static "edc_call_manager/js/edc_call_manager.js" %}"></script>
{% endblock extra-scripts %}

{% block main %}

<div class="container">
    <div id="div-home-left" class="col-md-8">
        <div class="panel-group">
          <div class="panel panel-success">
            <div class="panel-heading">Call Management and Configuration</div>
              {% for model_caller in model_callers %}
              <div class="panel panel-default">
              <div class="panel-heading">{{ model_caller.verbose_name|default:model_caller.label }}</div>
              <div class="panel-body">
                <ul id="id-nav-pill-resources" class="nav nav-pills">
                <li><a class="btn btn-default" href="{% url 'edc_call_manager_admin:call_manager_call_changelist' %}?q={{ model_caller.label }}">Manage Calls</a></li>
                <li><a class="btn btn-default" data-toggle="collapse" href="#collapse_caller_config_{{ forloop.counter }}">Configuration</a></li>
                </ul>
               </div>
               <div id="collapse_caller_config_{{ forloop.counter }}" class="panel-collapse collapse">
                <table class="table table-condensed responsive">
                <tr><td>Starts</td><td>{{ model_caller.start_model_name }}</td></tr>
                <tr><td>Stops</td><td>{{ model_caller.stop_model_name }}</td></tr>
                <tr><td>Subjects</td><td>{{ model_caller.subject_model_name }}</td></tr>
                <tr><td>Consents</td><td>{{ model_caller.consent_model_name|default:'<i>not configured</i>' }}</td></tr>
                <tr><td>Locators</td><td>{{ model_caller.locator_model_name }}</td></tr>
                <tr><td>Repeats</td><td>{{ model_caller.repeat_times }}</td></tr>
                <tr><td>Interval</td><td>{{ model_caller.interval }}</td></tr>
                </table>
            </div>
            </div>
              {% endfor %}
        </div>
        </div>
    </div><!--div-home-left -->
    <div id="div-home-right" class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Administration</div>
              <ul id="id-nav-pill-resources" class="nav nav-pills nav-stacked">
              <li><a href="{% url 'edc_call_manager_admin:call_manager_call_changelist' %}">Calls</a></li>
              <li><a href="{% url 'edc_call_manager_admin:call_manager_log_changelist' %}">Call Logs</a></li>
              <li><a href="{% url 'edc_call_manager_admin:call_manager_logentry_changelist' %}">Call Log Entries</a></li>
              </ul>
        </div>
    </div><!--div-home-right -->
</div>
{% endblock main %}

{% block extra-scripts-bottom %}
{{ block.super }}
<script type="text/javascript" charset="utf8" class="init">
    $(document).ready( function() { 
        edcCallManagerHomeReady('{{ context|escapejs }}');
    });
</script>

{% endblock extra-scripts-bottom %}
